/* button:hover{
    color: red;
    background-color: white;
    transition: all 0.5s ease-in-out;
}
.acesso:hover{
    color: red;
    background-color: white;
    transition: all 0.5s ease-in-out;
} */